@import "../variables.scss";
body {
  margin: 0;
  padding: 0;
  border: 0;
}
.home {
  width: 100%;
  //font-family: $fontFamily;
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
  }
}
